* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

#color-tittle {
  font-size: 18px;
  font-weight: bold;
}

/* =================================== */
/* Info Init */
.info-container {
  margin-top: 5rem;
}
.info-container .tittle {
  font-size: 32px;
}
.benet-container {
  background-color: #f8f9fa;
  border-top-left-radius: 2rem;
  width: 210px;
  height: 210px;
}

.benet-container img {
  margin-top: 0.5rem;
  margin-left: 3.3rem;
}
.benet-container:hover {
  transform: scale(1.1);
}
.info-container__txt {
  padding-top: 0.2rem;
  text-align: center !important;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  object-fit: cover;
}
/* Info End */
/* =================================== */

/* =================================== */

/* =================================== */
/* Carousel */
.carousel-inner img {
  margin-left: 3rem;
  margin-top: 1rem;
  border-radius: 1rem;

  width: 95%;
  height: 800px;
  object-fit: cover;
}
.carousel h5 {
  font-size: 25px;
  font-weight: bold;
}
.carousel p {
  font-size: 18px;
}
/* Carousel */
/* =================================== */

/* =================================== */
/* Text Init */

.overview__item h1 {
  text-align: center;
  padding-top: 0.5rem;
  text-justify: auto;
  font-size: 30px;
  font-weight: 400;
}
.overview__item p {
  text-align: justify;
  font-size: 20px;
  font-weight: 200;
}
.btn-container {
  justify-items: center;
  margin-bottom: 1rem;
}
.btn-container .btn {
  width: 15rem;
}
/* Text Init */
/* =================================== */

/* =================================== */
/* More Topics Init */
.lesson-contain {
  /* background-color: red; */
}
.lesson-contain .lesson {
  height: 250px;
  width: 50px;
  margin: 1rem;
  /* background-color:rebeccapurple; */
}

.benet-container {
  background-color: #f8f9fa;
  border-top-left-radius: 2rem;
  width: 210px;
  height: 210px;
}

.benet-container img {
  margin-top: 0.5rem;
  margin-left: 3.3rem;
}
.benet-container:hover {
  transform: scale(1.1);
}
.info-container__txt {
  padding-top: 0.2rem;
  text-align: center !important;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  object-fit: cover;
}

/* More Topics End */
/* =================================== */

/* =================================== */
/* Notice Init */
.notice-contain {
  /* background-color: rebeccapurple; */
  text-align: center;
  margin-top: 5rem;
}
.notice-wrapper {
  /* background-color: red; */
}
.notice-contain h1 {
  font-size: 28px;
  font-weight: 500;
}
/* Notice End */
/* =================================== */

/* =================================== */
/* Footer Init */
.footer-container {
  margin-top: 7rem;
}
/* Footer End */
/* =================================== */



@media screen and (max-width: 595px) {
  .carousel {
    display: none;
  }
}
